#bookCard {
    height: 500px;
}
#bookResume, #bookTitle {
    word-wrap: break-word;
}
@media all and (max-width: 1024px)
{
    #bookCard
    {
        height: 550px;
    }
}
#bookAuthor {
    text-decoration: underline;
    color: grey;
}
#bookLink {
    color: black;
}
#bookLink:hover {
    color: #3949ab;
}
#artDiv {
    border: 1px solid black;
    padding: 15px 30px 15px 30px;
}
#artImg {
    margin-right: 25px;
}
#artTitle {
    margin-left: 20px;
}
#artInfo {
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 20px;
    word-wrap: break-word;
}
#artdispo {
    background-color: red;
    height: 100px;
    width: 100px;
}
@media all and (max-width: 700px)
{
    #artImg
    {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    #artTitle
    {
        margin: 0;
    }
    .stars
    {
        margin-left: 50px;
    }
}