body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#sidebar {
  width: 100%;
}

#navbar .brand-logo {
  margin-left: 10px;
}

#sidenav {
  height: 100%;
  float: left;
  width: 200px;
  position: relative;
}

#content-wrapper {
  margin: 0 auto;
}

@media all and (max-width: 1024px)
{
  #content-wrapper
  {
    width: 100%;
  }
  #sidenav
  {
    display: none;
  }
}

#sidenav ul {
  margin: 0;
}

#sidenavImg {
  width: 100%;
  height: 150px;
}

#sidenav #listImg {
  height: 100%;
  margin: 0;
  border: 1px solid black;
}
#sidenavImg img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
#sideLink ul li {
  height: 100%;
  width: 100%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#sideLink ul li a {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}
#sideLink ul li a:hover {
  color: white;
  background-color: #3949ab;
}
#sidenavRadio p{
  font-size: 1.3em;
}
#sidenavRadioCheckbox {
  width: 50%;
  margin: 0 auto;
}
