body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#sidebar {
  width: 100%;
}

#front-page-logo {
  margin: 7px 0 0 10px;
  position: relative;
}

#navbar-title {
  margin: 0 0 0 10px;
}

#content-wrapper {
  margin: 0 auto;
}

@media all and (max-width: 1024px)
{
  #content-wrapper
  {
    width: 100%;
  }
}
