body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#sidebar {
  width: 100%;
}

#navbar .brand-logo {
  margin-left: 10px;
}

#sidenav {
  width: 20%;
  float: left;
}

#content-wrapper {
  width: 80%;
  float: right;
  background-color: aliceblue;
}
@media all and (max-width: 966px)
{
  #content-wrapper
  {
    width: 100%;
  }
  #sidenav
  {
    display: none;
  }
}
