#sidebar {
  width: 100%;
}

#sidebar .brand-logo {
  margin-left: 10px;
}

#sidenav {
  width: 20%;
  height: 966px;
  float: left;
}

#content-wrapper {
  width: 80%;
  height: 966px;
  float: right;
  background-color: aliceblue;
}
