

.inputLogin label:not(.label-icon).active {
  transform: translateY(35%);
  color: #3949ab;
}

#modal-login {
  background-color: white;
  color: black;
}

#modal-register {
  background-color: white;
  color: black;
}
