input[type=email]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label {
  color: #3949ab;
}

.input-field label:not(.label-icon).active {
  transform: translateY(35%);
  color: #3949ab;
}

#modal-login {
  background-color: white;
  color: black;
}

#modal-register {
  background-color: white;
  color: black;
}
